<div class="container mt-4" *ngIf="movie">
  <div class="row">
    <div class="col-12 mb-3">
      <h2>{{ movie.titulo }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div class="embed-responsive embed-responsive-16by9 mb-3">
        <iframe class="embed-responsive-item w-100" style="height:315px;" [src]="safeTrailerUrl" *ngIf="safeTrailerUrl" allowfullscreen></iframe>
      </div>
      <img [src]="movie.poster" alt="{{movie.titulo}} poster" class="img-fluid d-block mt-2" />
    </div>

    <div class="col-md-7">
      <div class="card">
        <div class="card-body">
          <p><strong>Sinopsis:</strong> {{ movie.sinopsis }}</p>
          <p><strong>Calificación:</strong> {{ movie.calificacion }}/10</p>
          <p><strong>Director:</strong> {{ movie.director }}</p>
          <p><strong>Duración:</strong> {{ movie.duracion_minutos }} min</p>

          <h5>Actores</h5>
          <app-actor-list [actors]="movie.actores"></app-actor-list>

          <h5 class="mt-3">Géneros</h5>
          <ul>
            <li *ngFor="let genero of movie.generos">{{ genero }}</li>
          </ul>

          <div class="mt-3">
            <button class="btn btn-secondary" (click)="goBack()">Regresar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>